@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Our Restaurant</h1>

    <p>Qui con un po' di fantasia immaginiamo che ci sia una bella presentazione e delle immagini</p>


</div>
